{% extends 'base.html.twig' %}
{% block title %}Mes Projets{% endblock %}

{% block body %}

<div class="container m-3">
    <h1>Mes Projets réalisés</h1>
</div>
<div class="row justify-content-center">
    {% for project in projects %}
    <div class="col-auto mb-4">
        <div class="card text-center text-white bg-dark" style="width: 20rem; height: 40rem">
            <img src="{{project.illustration}}" class="card-img-top" alt="{{ project.title }} illustration">
            <div class="card-body overflow-auto">
                <h5 class="card-title">{{ project.title }} </h5>
                <p class="card-text">{{ project.pitch }}</p>
                <p class="card-text">Description : {{ project.description|raw }}</p>
                <p class="card-text">Date de réalisation : {{ project.createdAt|date('d/m/Y') }}</p>
                <p class="card-text">Technologies :
                    {% for techno in project.technos %}
                    {{ techno.name }}
                    {% endfor %}
                </p>
            </div>
            <div class="card-footer">
                <a href="{{ project.websiteLink }}" class="btn btn-outline-info" target="_blank"> {{ project.websiteLink
                    }} </a>
            </div>
        </div>
    </div>
    {% else %}
    Aucun projet trouvée.
    {% endfor %}
</div>
</div>
{% endblock %}